- model 1 training
- model 1 evaluation
- model 2 training
- model 2 evaluation
- inference script
- git
- email

In [64]:
import pandas as pd

In [74]:
df = pd.read_csv('../data/prediction/20210822v2_lgb_with_optuna_on_cv_on_auc_on_full_data_normalized_weeks_without_tsfresh_features_and_categorical_original_saved_model_on_heldout_train_format_prediction_trimmed.csv')

In [75]:
df.head(10)

,codigo_de_cliente,fecha_de_visita,codigo_de_producto,prediction probability,predictions,bought_in_the_visit,rank,recomm_qt
0,94225070,2021-05-31,500040,0.407146,0,1.0,1,6
1,94225070,2021-05-31,500574,0.307235,0,0.0,2,6
2,94225070,2021-05-31,515512,0.289207,0,1.0,3,6
3,94225070,2021-05-31,508588,0.260884,0,1.0,4,6
4,94225070,2021-05-31,500176,0.234954,0,1.0,5,6
5,94225070,2021-05-31,508524,0.215400,0,1.0,6,6
6,94224807,2021-05-31,598795,0.276381,0,0.0,1,6
7,94224807,2021-05-31,500115,0.274076,0,0.0,2,6
8,94224807,2021-05-31,508720,0.253650,0,0.0,3,6
9,94224807,2021-05-31,509546,0.244163,0,1.0,4,6