In [1]:
import pandas as pd

import warnings
warnings.simplefilter(action='ignore')

import timeit

from tsfresh import extract_features, extract_relevant_features, select_features
from tsfresh.utilities.dataframe_functions import impute
from tsfresh.feature_extraction import ComprehensiveFCParameters

In [2]:
CO_timeseries_unpivot_path = '/home/ubuntu/workspace_rohan/project/data/processed/CO_timeseries_unpivot.csv'

In [3]:
# data_tseries_unpivot = pd.read_csv(CO_timeseries_unpivot_path)

In [4]:
# data_tseries_unpivot_10 = data_tseries_unpivot.head(190)

In [5]:
# data_tseries_unpivot_10 = data_tseries_unpivot_10[['index', 'week_int', 'week_value']]

In [6]:
# data_tseries_unpivot_10.tail()

In [7]:
# data_tseries_unpivot = data_tseries_unpivot[['index', 'week_int', 'week_value']]

In [8]:
# starttime = timeit.default_timer()
# print("The start time is :",starttime)

# extraction_settings = ComprehensiveFCParameters()

# features = extract_features(data_tseries_unpivot, column_id='index', column_sort='week_int',
#                              default_fc_parameters=extraction_settings,
#                              impute_function=impute) 

# print("Total training time is :", timeit.default_timer() - starttime)

In [9]:
# features.to_csv('')

In [10]:
from dask.distributed import Client

In [11]:
client = Client()

In [12]:
client

In [13]:
import dask.dataframe as dd

In [14]:
df = dd.read_csv(CO_timeseries_unpivot_path)

In [15]:
df.head()

,index,fecha_de_visita,codigo_de_cliente,codigo_de_producto,week_number,week_value,week_int
0,0,2020-12-04,94100001,508588,week_1,0,1
1,0,2020-12-04,94100001,508588,week_2,0,2
2,0,2020-12-04,94100001,508588,week_3,0,3
3,0,2020-12-04,94100001,508588,week_4,0,4
4,0,2020-12-04,94100001,508588,week_5,0,5

In [16]:
# data_tseries_unpivot_10 = df.head(190)

In [17]:
# data_tseries_unpivot_10 = data_tseries_unpivot_10[['index', 'week_int', 'week_value']]

In [18]:
# data_tseries_unpivot_10.tail()

In [19]:
df = df[['index', 'week_int', 'week_value']]

In [20]:
# each = 787 features

In [21]:
X = extract_features(df,
                     column_id="index", column_sort="week_int",
                     pivot=False)

In [22]:
X

Dask DataFrame Structure:
                index variable    value
npartitions=52
                int64   object  float64
                  ...      ...      ...
...               ...      ...      ...
                  ...      ...      ...
                  ...      ...      ...
Dask Name: wrapped_feature_extraction, 1928 tasks

In [ ]:
X.compute()

distributed.nanny - WARNING - Worker exceeded 95% memory budget. Restarting
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Worker exceeded 95% memory budget. Restarting
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Worker exceeded 95% memory budget. Restarting
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Worker exceeded 95% memory budget. Restarting
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Worker exceeded 95% memory budget. Restarting
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Worker exceeded 95% memory budget. Restarting
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Worker exceeded 95% memory budget. Restarting
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Worker exceeded 95% memory budget. Restarting
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Worker exceeded 95% memory budget. Restarting
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Worker exceeded 95% memory budget. Restarting
distributed.nanny - WARNING - Restarting worker
distributed.nanny - WARNING - Worker exceeded 95% memory budget. Restarting