In [1]:
import pandas as pd
from psycopg2 import connect, DatabaseError, OperationalError

In [2]:
HOST = 'localhost'
USER = 'postgres'
PASSWORD = 'Y3DjpNRR'
DATABASE = 'bi_db_aje_co'

In [3]:
conn = connect(
        host=HOST,
        database=DATABASE,
        user=USER,
        password=PASSWORD
    )

In [5]:
start_date='2021-03-01'
end_date='2021-03-24'
clients=['0094100186', '00941014']
coerce_float=False

In [6]:
client_list = '(\'' + '\', \''.join(clients) + '\')'

In [7]:
client_list

"('0094100186', '00941014')"

In [8]:
query = '''
        select
            fecha_de_visita,
            codigo_de_cliente,
            recomm_qt
        from public.regular_recomm_qty_dtl
        where fecha_de_visita between date \'''' + start_date + '''\' and date \'''' + end_date + '''\'
        and codigo_de_cliente in ''' + client_list + ''';
        '''

In [10]:
print(query)

        select
            fecha_de_visita,
            codigo_de_cliente,
            recomm_qt
        from public.regular_recomm_qty_dtl
        where fecha_de_visita between date '2021-03-01' and date '2021-03-24'
        and codigo_de_cliente in ('0094100186', '00941014');

In [12]:
df = pd.read_sql(query, conn, coerce_float=coerce_float)

In [13]:
df

  fecha_de_visita codigo_de_cliente  recomm_qt
0      2021-03-04        0094100186          2
1      2021-03-06          00941014         10
2      2021-03-12          00941014          7
3      2021-03-19          00941014          6