In [1]:
import pandas as pd

In [18]:
CO_processed_path = '/home/ubuntu/workspace_rohan/project/data/processed/CO_processed.csv'
CO_timeseries_path = '/home/ubuntu/workspace_rohan/project/data/processed/CO_timeseries.csv'

In [19]:
data = pd.read_csv(CO_processed_path)
data = data.drop(["Unnamed: 0"],axis=1)

In [20]:
data['table_flag'] = 1

In [21]:
data.head(2)

,yr_month,fecha_de_visita,visit_num,codigo_de_cliente,codigo_de_producto,cod_canal,cod_giro,cod_subgiro,desc_region,desc_subregion,...,product_trnx_last_3m,normalized_rotation,normalized_freq,total_sales_last_3m,total_trnx_last_3m,ratio_sales_last_3m,ratio_trnx_last_3m,bought_last_year_flag,prod_coverage_bucket,table_flag
0,2021-02,2021-02-22,5,94156234,598795,2.0,140.0,141.0,0,2,...,5,0.214286,0.555556,1656929.40,12.0,0.041272,0.416667,0,1,1
1,2021-02,2021-02-25,3,9431428,509581,6.0,810.0,808.0,0,2,...,0,NaN,NaN,762578.61,9.0,0.000000,0.000000,0,1,1

In [22]:
data.shape

(2883584, 32)

In [23]:
data_tseries = pd.read_csv(CO_timeseries_path)
data_tseries = data_tseries.drop(["Unnamed: 0"],axis=1)

In [24]:
data_tseries.shape

(3780431, 23)

In [25]:
data_tseries = pd.merge(data_tseries, data, how='left', left_on=['fecha_de_visita', 'codigo_de_cliente', 'codigo_de_producto'], right_on=['fecha_de_visita', 'codigo_de_cliente', 'codigo_de_producto'])

In [26]:
data_tseries.head(2)

,fecha_de_visita,codigo_de_cliente,codigo_de_producto,week_1,week_2,week_3,week_4,week_5,week_6,week_7,...,product_trnx_last_3m,normalized_rotation,normalized_freq,total_sales_last_3m,total_trnx_last_3m,ratio_sales_last_3m,ratio_trnx_last_3m,bought_last_year_flag,prod_coverage_bucket,table_flag
0,2020-12-04,94100001,508588,0,0,0,0,0,0,0,...,0.0,NaN,NaN,61400.0,7.0,0.0,0.0,0.0,5.0,1.0
1,2020-12-04,94100001,598913,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
data_tseries.shape

(3780431, 52)

In [28]:
data_tseries[data_tseries['table_flag'].isnull()==False].shape

(2883584, 52)

In [31]:
data_tseries[data_tseries['table_flag'].isnull()==True].shape

(896847, 52)

In [32]:
data_tseries = data_tseries[data_tseries['table_flag'].isnull()==False]

In [33]:
data_tseries.isnull().sum()

fecha_de_visita                       0
codigo_de_cliente                     0
codigo_de_producto                    0
week_1                                0
week_2                                0
week_3                                0
week_4                                0
week_5                                0
week_6                                0
week_7                                0
week_8                                0
week_9                                0
week_10                               0
week_11                               0
week_12                               0
week_13                               0
week_14                               0
week_15                               0
week_16                               0
week_17                               0
week_18                               0
week_19                               0
week_20                               0
yr_month                              0
visit_num                             0
cod_canal                             1
cod_giro                              1
cod_subgiro                           1
desc_region                           0
desc_subregion                        0
desc_division                         0
cod_zona                              1
ruta                                  1
cod_modulo                            1
categoria                             0
marca                                 0
desc_sabor                            0
desc_tipoenvase                       0
desc_subfamilia                       0
contenido                           180
bought_in_the_visit                   0
product_sales_amount_last_3m          0
product_trnx_last_3m                  0
normalized_rotation             1553388
normalized_freq                 1553388
total_sales_last_3m               16184
total_trnx_last_3m                16184
ratio_sales_last_3m               16184
ratio_trnx_last_3m                16184
bought_last_year_flag                 0
prod_coverage_bucket                  0
table_flag                            0
dtype: int64

In [38]:
data_tseries.ratio_trnx_last_3m

0          0.000000
2          0.142857
3          0.285714
5          0.571429
8          0.000000
             ...
3780425    0.086957
3780426    0.000000
3780427    0.043478
3780428    0.043478
3780429    0.086957
Name: ratio_trnx_last_3m, Length: 2883584, dtype: float64

In [41]:
data_tseries.shape

(2883584, 52)

In [43]:
2883584-1330145-180

1553259

In [39]:
data_tseries2 = data_tseries.dropna()

In [40]:
data_tseries2.shape

(1330145, 52)