In [1]:
import timeit
import pandas as pd

import warnings
warnings.simplefilter(action='ignore')

from tsfresh import extract_features
from dask.distributed import Client
from tsfresh.utilities.distribution import ClusterDaskDistributor

In [ ]:
client = Client()
ip = client.scheduler.address.split('//')[-1]
client

In [2]:
CO_timeseries_featurized_prepath = '/home/ubuntu/workspace_rohan/project/data/processed/'
CO_timeseries_path = '/home/ubuntu/workspace_rohan/project/data/raw/CO_timeseries.csv'
CO_timeseries_unpivot_path = '/home/ubuntu/workspace_rohan/project/data/processed/CO_timeseries_unpivot.csv'

CO_timeseries_unpivot_shared_prepath = '/home/ubuntu/workspace_rohan/project/data/processed/CO_timeseries_unpivot_shared/'

CO_timeseries_unpivot_featurized_shared_prepath = '/home/ubuntu/workspace_rohan/project/data/processed/CO_timeseries_unpivot_featurized_shared/'

CO_processed_path = '/home/ubuntu/workspace_rohan/project/data/raw/CO_processed.csv'

In [3]:
df_pd = pd.read_csv(CO_timeseries_unpivot_path)
df_pd = df_pd[['index', 'week_int', 'week_value']]

In [4]:
th = round(df_pd.shape[0]/19)
step = 4000

In [ ]:
start = 0
while (start < th):
    end = start+step
    print(start, end)
    df_temp = df_pd[(df_pd['index']>=start) & (df_pd['index']<end)]
    df_temp.to_csv(CO_timeseries_unpivot_shared_prepath+'CO_timeseries_unpivot_shared_'+str(start)+'_'+str(end)+'.csv', index=False)
    start = start+step

In [ ]:
start = 0
while (start < th):
    end = start+step
    print(start, end)
    df_temp = pd.read_csv(CO_timeseries_unpivot_shared_prepath+'CO_timeseries_unpivot_shared_'+str(start)+'_'+str(end)+'.csv')
    Distributor = ClusterDaskDistributor(address=ip)
    X = extract_features(timeseries_container=df_temp,
                         column_id='index', column_sort='week_int',
                         disable_progressbar=False,
                         distributor=Distributor)
    
    X.to_csv(CO_timeseries_unpivot_featurized_shared_prepath+'CO_timeseries_unpivot_featurized_shared_'+str(start)+'_'+str(end)+'.csv', index=False)
    start = start+step

In [5]:
data = pd.read_csv(CO_processed_path)
data = data.drop(["Unnamed: 0"],axis=1)
data.normalized_rotation.fillna(-1, inplace=True)
data.normalized_freq.fillna(-1, inplace=True)
na_check = data.columns

In [6]:
standardize_columns = ['week_1',
       'week_2', 'week_3', 'week_4', 'week_5', 'week_6', 'week_7', 'week_8',
       'week_9', 'week_10', 'week_11', 'week_12', 'week_13', 'week_14',
       'week_15', 'week_16', 'week_17', 'week_18', 'week_19']

df_CO_timeseries_raw = pd.read_csv(CO_timeseries_path)
df_CO_timeseries_raw.drop(['Unnamed: 0'], axis=1, inplace=True)
df_CO_timeseries_featurized = pd.DataFrame()
start = 0
while (start < th):
    
    end = start+step
    print(start, end)
    df_temp = df_CO_timeseries_raw.iloc[start:end, :]
    df_temp.reset_index(inplace=True)
    
    df_feat = pd.read_csv(CO_timeseries_unpivot_featurized_shared_prepath+'CO_timeseries_unpivot_featurized_shared_'+str(start)+'_'+str(end)+'.csv')    
    df_temp_full = pd.concat([df_temp, df_feat], axis=1)
    
    df_temp_new = df_temp_full[standardize_columns]
    df_temp_new = df_temp_new.div(df_temp_new.max(axis=1), axis=0).fillna(0)
    df_temp_new.columns = [str(col) + '_standardized' for col in df_temp_new.columns]
    df_temp_full[list(df_temp_new.columns)] = df_temp_new
    
    df_temp_full = pd.merge(df_temp_full, data, how='left', left_on=['fecha_de_visita', 'codigo_de_cliente', 'codigo_de_producto'], right_on=['fecha_de_visita', 'codigo_de_cliente', 'codigo_de_producto'])
    df_temp_full = df_temp_full.dropna(subset=na_check)
    
    if start==0:
        df_temp_full.to_csv(CO_timeseries_featurized_prepath+'CO_timeseries_featurized.csv', mode='a', index=False)
    else:
        df_temp_full.to_csv(CO_timeseries_featurized_prepath+'CO_timeseries_featurized.csv', mode='a', header=False, index=False)
    start = start+step

0 4000
4000 8000
8000 12000
12000 16000
16000 20000
20000 24000
24000 28000
28000 32000
32000 36000
36000 40000
40000 44000
44000 48000
48000 52000
52000 56000
56000 60000
60000 64000
64000 68000
68000 72000
72000 76000
76000 80000
80000 84000
84000 88000
88000 92000
92000 96000
96000 100000
100000 104000
104000 108000
108000 112000
112000 116000
116000 120000
120000 124000
124000 128000
128000 132000
132000 136000
136000 140000
140000 144000
144000 148000
148000 152000
152000 156000
156000 160000
160000 164000
164000 168000
168000 172000
172000 176000
176000 180000
180000 184000
184000 188000
188000 192000
192000 196000
196000 200000
200000 204000
204000 208000
208000 212000
212000 216000
216000 220000
220000 224000
224000 228000
228000 232000
232000 236000
236000 240000
240000 244000
244000 248000
248000 252000
252000 256000
256000 260000
260000 264000
264000 268000
268000 272000
272000 276000
276000 280000
280000 284000
284000 288000
288000 292000
292000 296000
296000 300000
300000 304000
304000 308000
308000 312000
312000 316000
316000 320000
320000 324000
324000 328000
328000 332000
332000 336000
336000 340000
340000 344000
344000 348000
348000 352000
352000 356000
356000 360000
360000 364000
364000 368000
368000 372000
372000 376000
376000 380000
380000 384000
384000 388000
388000 392000
392000 396000
396000 400000
400000 404000
404000 408000
408000 412000
412000 416000
416000 420000
420000 424000
424000 428000
428000 432000
432000 436000
436000 440000
440000 444000
444000 448000
448000 452000
452000 456000
456000 460000
460000 464000
464000 468000
468000 472000
472000 476000
476000 480000
480000 484000
484000 488000
488000 492000
492000 496000
496000 500000
500000 504000
504000 508000
508000 512000
512000 516000
516000 520000
520000 524000
524000 528000
528000 532000
532000 536000
536000 540000
540000 544000
544000 548000
548000 552000
552000 556000
556000 560000
560000 564000
564000 568000
568000 572000
572000 576000
576000 580000
580000 584000
584000 588000
588000 592000
592000 596000
596000 600000
600000 604000
604000 608000
608000 612000
612000 616000
616000 620000
620000 624000
624000 628000
628000 632000
632000 636000
636000 640000
640000 644000
644000 648000
648000 652000
652000 656000
656000 660000
660000 664000
664000 668000
668000 672000
672000 676000
676000 680000
680000 684000
684000 688000
688000 692000
692000 696000
696000 700000
700000 704000
704000 708000
708000 712000
712000 716000
716000 720000
720000 724000
724000 728000
728000 732000
732000 736000
736000 740000
740000 744000
744000 748000
748000 752000
752000 756000
756000 760000
760000 764000
764000 768000
768000 772000
772000 776000
776000 780000
780000 784000
784000 788000
788000 792000
792000 796000
796000 800000
800000 804000
804000 808000
808000 812000
812000 816000
816000 820000
820000 824000
824000 828000
828000 832000
832000 836000
836000 840000
840000 844000
844000 848000
848000 852000
852000 856000
856000 860000
860000 864000
864000 868000
868000 872000
872000 876000
876000 880000
880000 884000
884000 888000
888000 892000
892000 896000
896000 900000
900000 904000
904000 908000
908000 912000
912000 916000
916000 920000
920000 924000
924000 928000
928000 932000
932000 936000
936000 940000
940000 944000
944000 948000
948000 952000
952000 956000
956000 960000
960000 964000
964000 968000
968000 972000
972000 976000
976000 980000
980000 984000
984000 988000
988000 992000
992000 996000
996000 1000000
1000000 1004000
1004000 1008000
1008000 1012000
1012000 1016000
1016000 1020000
1020000 1024000
1024000 1028000
1028000 1032000
1032000 1036000
1036000 1040000
1040000 1044000
1044000 1048000
1048000 1052000
1052000 1056000
1056000 1060000
1060000 1064000
1064000 1068000
1068000 1072000
1072000 1076000
1076000 1080000
1080000 1084000
1084000 1088000
1088000 1092000
1092000 1096000
1096000 1100000
1100000 1104000
1104000 1108000
1108000 1112000
1112000 1116000
1116000 1120000
1120000 1124000
1124000 1128000
1128000 1132000
1132000 1136000
1136000 1140000
1140000 1144000
1144000 1148000
1148000 1152000
1152000 1156000
1156000 1160000
1160000 1164000
1164000 1168000
1168000 1172000
1172000 1176000
1176000 1180000
1180000 1184000
1184000 1188000
1188000 1192000
1192000 1196000
1196000 1200000
1200000 1204000
1204000 1208000
1208000 1212000
1212000 1216000
1216000 1220000
1220000 1224000
1224000 1228000
1228000 1232000
1232000 1236000
1236000 1240000
1240000 1244000
1244000 1248000
1248000 1252000
1252000 1256000
1256000 1260000
1260000 1264000
1264000 1268000
1268000 1272000
1272000 1276000
1276000 1280000
1280000 1284000
1284000 1288000
1288000 1292000
1292000 1296000
1296000 1300000
1300000 1304000
1304000 1308000
1308000 1312000
1312000 1316000
1316000 1320000
1320000 1324000
1324000 1328000
1328000 1332000
1332000 1336000
1336000 1340000
1340000 1344000
1344000 1348000
1348000 1352000
1352000 1356000
1356000 1360000
1360000 1364000
1364000 1368000
1368000 1372000
1372000 1376000
1376000 1380000
1380000 1384000
1384000 1388000
1388000 1392000
1392000 1396000
1396000 1400000
1400000 1404000
1404000 1408000
1408000 1412000
1412000 1416000
1416000 1420000
1420000 1424000
1424000 1428000
1428000 1432000
1432000 1436000
1436000 1440000
1440000 1444000
1444000 1448000
1448000 1452000
1452000 1456000
1456000 1460000
1460000 1464000
1464000 1468000
1468000 1472000
1472000 1476000
1476000 1480000
1480000 1484000
1484000 1488000
1488000 1492000
1492000 1496000
1496000 1500000
1500000 1504000
1504000 1508000
1508000 1512000
1512000 1516000
1516000 1520000
1520000 1524000
1524000 1528000
1528000 1532000
1532000 1536000
1536000 1540000
1540000 1544000
1544000 1548000
1548000 1552000
1552000 1556000
1556000 1560000
1560000 1564000
1564000 1568000
1568000 1572000
1572000 1576000
1576000 1580000
1580000 1584000
1584000 1588000
1588000 1592000
1592000 1596000
1596000 1600000
1600000 1604000
1604000 1608000
1608000 1612000
1612000 1616000
1616000 1620000
1620000 1624000
1624000 1628000
1628000 1632000
1632000 1636000
1636000 1640000
1640000 1644000
1644000 1648000
1648000 1652000
1652000 1656000
1656000 1660000
1660000 1664000
1664000 1668000
1668000 1672000
1672000 1676000
1676000 1680000
1680000 1684000
1684000 1688000
1688000 1692000
1692000 1696000
1696000 1700000
1700000 1704000
1704000 1708000
1708000 1712000
1712000 1716000
1716000 1720000
1720000 1724000
1724000 1728000
1728000 1732000
1732000 1736000
1736000 1740000
1740000 1744000
1744000 1748000
1748000 1752000
1752000 1756000
1756000 1760000
1760000 1764000
1764000 1768000
1768000 1772000
1772000 1776000
1776000 1780000
1780000 1784000
1784000 1788000
1788000 1792000
1792000 1796000
1796000 1800000
1800000 1804000
1804000 1808000
1808000 1812000
1812000 1816000
1816000 1820000
1820000 1824000
1824000 1828000
1828000 1832000
1832000 1836000
1836000 1840000
1840000 1844000
1844000 1848000
1848000 1852000
1852000 1856000
1856000 1860000
1860000 1864000
1864000 1868000
1868000 1872000
1872000 1876000
1876000 1880000
1880000 1884000
1884000 1888000
1888000 1892000
1892000 1896000
1896000 1900000
1900000 1904000
1904000 1908000
1908000 1912000
1912000 1916000
1916000 1920000
1920000 1924000
1924000 1928000
1928000 1932000
1932000 1936000
1936000 1940000
1940000 1944000
1944000 1948000
1948000 1952000
1952000 1956000
1956000 1960000
1960000 1964000
1964000 1968000
1968000 1972000
1972000 1976000
1976000 1980000
1980000 1984000
1984000 1988000
1988000 1992000
1992000 1996000
1996000 2000000
2000000 2004000
2004000 2008000
2008000 2012000
2012000 2016000
2016000 2020000
2020000 2024000
2024000 2028000
2028000 2032000
2032000 2036000
2036000 2040000
2040000 2044000
2044000 2048000
2048000 2052000
2052000 2056000
2056000 2060000
2060000 2064000
2064000 2068000
2068000 2072000
2072000 2076000
2076000 2080000
2080000 2084000
2084000 2088000
2088000 2092000
2092000 2096000
2096000 2100000
2100000 2104000
2104000 2108000
2108000 2112000
2112000 2116000
2116000 2120000
2120000 2124000
2124000 2128000
2128000 2132000
2132000 2136000
2136000 2140000
2140000 2144000
2144000 2148000
2148000 2152000
2152000 2156000
2156000 2160000
2160000 2164000
2164000 2168000
2168000 2172000
2172000 2176000
2176000 2180000
2180000 2184000
2184000 2188000

2188000 2192000
2192000 2196000
2196000 2200000
2200000 2204000
2204000 2208000
2208000 2212000
2212000 2216000
2216000 2220000
2220000 2224000
2224000 2228000
2228000 2232000
2232000 2236000
2236000 2240000
2240000 2244000
2244000 2248000
2248000 2252000
2252000 2256000
2256000 2260000
2260000 2264000
2264000 2268000
2268000 2272000
2272000 2276000
2276000 2280000
2280000 2284000
2284000 2288000
2288000 2292000
2292000 2296000
2296000 2300000
2300000 2304000
2304000 2308000
2308000 2312000
2312000 2316000
2316000 2320000
2320000 2324000
2324000 2328000
2328000 2332000
2332000 2336000
2336000 2340000
2340000 2344000
2344000 2348000
2348000 2352000
2352000 2356000
2356000 2360000
2360000 2364000
2364000 2368000
2368000 2372000
2372000 2376000
2376000 2380000
2380000 2384000
2384000 2388000
2388000 2392000
2392000 2396000
2396000 2400000
2400000 2404000
2404000 2408000
2408000 2412000
2412000 2416000
2416000 2420000
2420000 2424000
2424000 2428000
2428000 2432000
2432000 2436000
2436000 2440000
2440000 2444000
2444000 2448000
2448000 2452000
2452000 2456000
2456000 2460000
2460000 2464000
2464000 2468000
2468000 2472000
2472000 2476000
2476000 2480000
2480000 2484000
2484000 2488000
2488000 2492000
2492000 2496000
2496000 2500000
2500000 2504000
2504000 2508000
2508000 2512000
2512000 2516000
2516000 2520000
2520000 2524000
2524000 2528000
2528000 2532000
2532000 2536000
2536000 2540000
2540000 2544000
2544000 2548000
2548000 2552000
2552000 2556000
2556000 2560000
2560000 2564000
2564000 2568000
2568000 2572000
2572000 2576000
2576000 2580000
2580000 2584000
2584000 2588000
2588000 2592000
2592000 2596000
2596000 2600000
2600000 2604000
2604000 2608000
2608000 2612000
2612000 2616000
2616000 2620000
2620000 2624000
2624000 2628000
2628000 2632000
2632000 2636000
2636000 2640000
2640000 2644000
2644000 2648000
2648000 2652000
2652000 2656000
2656000 2660000
2660000 2664000
2664000 2668000
2668000 2672000
2672000 2676000
2676000 2680000
2680000 2684000
2684000 2688000
2688000 2692000
2692000 2696000
2696000 2700000
2700000 2704000
2704000 2708000
2708000 2712000
2712000 2716000
2716000 2720000
2720000 2724000
2724000 2728000
2728000 2732000
2732000 2736000
2736000 2740000
2740000 2744000
2744000 2748000
2748000 2752000
2752000 2756000
2756000 2760000
2760000 2764000
2764000 2768000
2768000 2772000
2772000 2776000
2776000 2780000
2780000 2784000
2784000 2788000
2788000 2792000
2792000 2796000
2796000 2800000
2800000 2804000
2804000 2808000
2808000 2812000
2812000 2816000
2816000 2820000
2820000 2824000
2824000 2828000
2828000 2832000
2832000 2836000
2836000 2840000
2840000 2844000
2844000 2848000
2848000 2852000
2852000 2856000
2856000 2860000
2860000 2864000
2864000 2868000
2868000 2872000
2872000 2876000
2876000 2880000
2880000 2884000
2884000 2888000
2888000 2892000
2892000 2896000
2896000 2900000
2900000 2904000
2904000 2908000
2908000 2912000
2912000 2916000
2916000 2920000
2920000 2924000
2924000 2928000
2928000 2932000
2932000 2936000
2936000 2940000
2940000 2944000
2944000 2948000
2948000 2952000
2952000 2956000
2956000 2960000
2960000 2964000
2964000 2968000
2968000 2972000
2972000 2976000
2976000 2980000
2980000 2984000
2984000 2988000
2988000 2992000
2992000 2996000
2996000 3000000
3000000 3004000
3004000 3008000
3008000 3012000
3012000 3016000
3016000 3020000
3020000 3024000
3024000 3028000
3028000 3032000
3032000 3036000
3036000 3040000
3040000 3044000
3044000 3048000
3048000 3052000
3052000 3056000
3056000 3060000
3060000 3064000
3064000 3068000
3068000 3072000
3072000 3076000
3076000 3080000
3080000 3084000
3084000 3088000
3088000 3092000
3092000 3096000
3096000 3100000
3100000 3104000
3104000 3108000
3108000 3112000
3112000 3116000
3116000 3120000
3120000 3124000
3124000 3128000
3128000 3132000
3132000 3136000
3136000 3140000
3140000 3144000
3144000 3148000
3148000 3152000
3152000 3156000
3156000 3160000
3160000 3164000
3164000 3168000
3168000 3172000
3172000 3176000
3176000 3180000
3180000 3184000
3184000 3188000
3188000 3192000
3192000 3196000
3196000 3200000
3200000 3204000
3204000 3208000
3208000 3212000
3212000 3216000
3216000 3220000
3220000 3224000
3224000 3228000
3228000 3232000
3232000 3236000
3236000 3240000
3240000 3244000
3244000 3248000
3248000 3252000
3252000 3256000
3256000 3260000
3260000 3264000
3264000 3268000
3268000 3272000
3272000 3276000
3276000 3280000
3280000 3284000
3284000 3288000
3288000 3292000
3292000 3296000
3296000 3300000
3300000 3304000
3304000 3308000
3308000 3312000
3312000 3316000
3316000 3320000
3320000 3324000
3324000 3328000
3328000 3332000
3332000 3336000
3336000 3340000
3340000 3344000
3344000 3348000
3348000 3352000
3352000 3356000
3356000 3360000
3360000 3364000
3364000 3368000
3368000 3372000
3372000 3376000
3376000 3380000
3380000 3384000
3384000 3388000
3388000 3392000
3392000 3396000
3396000 3400000
3400000 3404000
3404000 3408000
3408000 3412000
3412000 3416000
3416000 3420000
3420000 3424000
3424000 3428000
3428000 3432000
3432000 3436000
3436000 3440000
3440000 3444000
3444000 3448000
3448000 3452000
3452000 3456000
3456000 3460000
3460000 3464000
3464000 3468000
3468000 3472000
3472000 3476000
3476000 3480000
3480000 3484000
3484000 3488000
3488000 3492000
3492000 3496000
3496000 3500000
3500000 3504000
3504000 3508000
3508000 3512000
3512000 3516000
3516000 3520000
3520000 3524000
3524000 3528000
3528000 3532000
3532000 3536000
3536000 3540000
3540000 3544000
3544000 3548000
3548000 3552000
3552000 3556000
3556000 3560000
3560000 3564000
3564000 3568000
3568000 3572000
3572000 3576000
3576000 3580000
3580000 3584000
3584000 3588000
3588000 3592000
3592000 3596000
3596000 3600000
3600000 3604000
3604000 3608000
3608000 3612000
3612000 3616000
3616000 3620000
3620000 3624000
3624000 3628000
3628000 3632000
3632000 3636000
3636000 3640000
3640000 3644000
3644000 3648000
3648000 3652000
3652000 3656000
3656000 3660000
3660000 3664000
3664000 3668000
3668000 3672000
3672000 3676000
3676000 3680000
3680000 3684000
3684000 3688000
3688000 3692000
3692000 3696000
3696000 3700000
3700000 3704000
3704000 3708000
3708000 3712000
3712000 3716000
3716000 3720000
3720000 3724000
3724000 3728000
3728000 3732000
3732000 3736000
3736000 3740000
3740000 3744000
3744000 3748000
3748000 3752000
3752000 3756000
3756000 3760000
3760000 3764000
3764000 3768000
3768000 3772000
3772000 3776000
3776000 3780000
3780000 3784000

Data dump, notebook copy, script copy, model objects pipeline on 8000 (+ dump), db 2 dumps

In [338]:
import pandas as pd
from xgboost import XGBClassifier
from imblearn.ensemble import BalancedRandomForestClassifier


report_path = '/home/ubuntu/workspace_rohan/project/reports/model_performance/work_v5.3_standardized.txt'
train_split_format_path = '/home/ubuntu/workspace_rohan/project/data/processed/model_data/train_split_format.csv'
train_heldout_format_path = '/home/ubuntu/workspace_rohan/project/data/processed/model_data/train_heldout_format.csv'
model_save_prepath = '/home/ubuntu/workspace_rohan/project/models/'

seed = 7

features = [
    'week_value__variance_larger_than_standard_deviation',
 'week_value__has_duplicate_max',
 'week_value__has_duplicate_min',
 'week_value__has_duplicate',
 'week_value__sum_values',
 'week_value__abs_energy',
 'week_value__mean_abs_change',
 'week_value__mean_change',
 'week_value__mean_second_derivative_central',
 'week_value__median',
 'week_value__mean',
 'week_value__length',
 'week_value__standard_deviation',
 'week_value__variation_coefficient',
 'week_value__variance',
 'week_value__skewness',
 'week_value__kurtosis',
 'week_value__root_mean_square',
 'week_value__absolute_sum_of_changes',
 'week_value__longest_strike_below_mean',
 'week_value__longest_strike_above_mean',
 'week_value__count_above_mean',
 'week_value__count_below_mean',

 'week_value__time_reversal_asymmetry_statistic__lag_1',
 'week_value__time_reversal_asymmetry_statistic__lag_2',
 'week_value__time_reversal_asymmetry_statistic__lag_3',
 'week_value__c3__lag_1',
 'week_value__c3__lag_2',
 'week_value__c3__lag_3',
 'week_value__cid_ce__normalize_True',
 'week_value__cid_ce__normalize_False',
 'week_value__symmetry_looking__r_0.0',
 'week_value__symmetry_looking__r_0.05',
 'week_value__symmetry_looking__r_0.1',
 'week_value__symmetry_looking__r_0.15000000000000002',
 'week_value__symmetry_looking__r_0.2',
 'week_value__symmetry_looking__r_0.25',
 'week_value__symmetry_looking__r_0.30000000000000004',
 'week_value__symmetry_looking__r_0.35000000000000003',
 'week_value__symmetry_looking__r_0.4',
 'week_value__symmetry_looking__r_0.45',
 'week_value__symmetry_looking__r_0.5',
 'week_value__symmetry_looking__r_0.55',
 'week_value__symmetry_looking__r_0.6000000000000001',
 'week_value__symmetry_looking__r_0.65',
 'week_value__symmetry_looking__r_0.7000000000000001',
 'week_value__symmetry_looking__r_0.75',
 'week_value__symmetry_looking__r_0.8',
 'week_value__symmetry_looking__r_0.8500000000000001',
 'week_value__symmetry_looking__r_0.9',
 'week_value__symmetry_looking__r_0.9500000000000001',
 'week_value__large_standard_deviation__r_0.05',
 'week_value__large_standard_deviation__r_0.1',
 'week_value__large_standard_deviation__r_0.15000000000000002',
 'week_value__large_standard_deviation__r_0.2',
 'week_value__large_standard_deviation__r_0.25',
 'week_value__large_standard_deviation__r_0.30000000000000004',
 'week_value__large_standard_deviation__r_0.35000000000000003',
 'week_value__large_standard_deviation__r_0.4',
 'week_value__large_standard_deviation__r_0.45',
 'week_value__large_standard_deviation__r_0.5',
 'week_value__large_standard_deviation__r_0.55',
 'week_value__large_standard_deviation__r_0.6000000000000001',
 'week_value__large_standard_deviation__r_0.65',
 'week_value__large_standard_deviation__r_0.7000000000000001',
 'week_value__large_standard_deviation__r_0.75',
 'week_value__large_standard_deviation__r_0.8',
 'week_value__large_standard_deviation__r_0.8500000000000001',
 'week_value__large_standard_deviation__r_0.9',
 'week_value__large_standard_deviation__r_0.9500000000000001',
 'week_value__quantile__q_0.1',
 'week_value__quantile__q_0.2',
 'week_value__quantile__q_0.3',
 'week_value__quantile__q_0.4',
 'week_value__quantile__q_0.6',
 'week_value__quantile__q_0.7',
 'week_value__quantile__q_0.8',
 'week_value__quantile__q_0.9',
 'week_value__autocorrelation__lag_0',
 'week_value__autocorrelation__lag_1',
 'week_value__autocorrelation__lag_2',
 'week_value__autocorrelation__lag_3',
 'week_value__autocorrelation__lag_4',
 'week_value__autocorrelation__lag_5',
 'week_value__autocorrelation__lag_6',
 'week_value__autocorrelation__lag_7',
 'week_value__autocorrelation__lag_8',
 'week_value__autocorrelation__lag_9',
 'week_value__agg_autocorrelation__f_agg_"mean"__maxlag_40',
 'week_value__agg_autocorrelation__f_agg_"median"__maxlag_40',
 'week_value__agg_autocorrelation__f_agg_"var"__maxlag_40',

 'week_value__number_cwt_peaks__n_1',
 'week_value__number_cwt_peaks__n_5',
 'week_value__number_peaks__n_1',
 'week_value__number_peaks__n_3',
 'week_value__number_peaks__n_5',
 'week_value__number_peaks__n_10',
 'week_value__number_peaks__n_50',
 'week_value__binned_entropy__max_bins_10',
 'week_value__index_mass_quantile__q_0.1',
 'week_value__index_mass_quantile__q_0.2',
 'week_value__index_mass_quantile__q_0.3',
 'week_value__index_mass_quantile__q_0.4',
 'week_value__index_mass_quantile__q_0.6',
 'week_value__index_mass_quantile__q_0.7',
 'week_value__index_mass_quantile__q_0.8',
 'week_value__index_mass_quantile__q_0.9',
 'week_value__cwt_coefficients__coeff_0__w_2__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_0__w_5__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_0__w_10__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_0__w_20__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_1__w_2__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_1__w_5__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_1__w_10__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_1__w_20__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_2__w_2__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_2__w_5__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_2__w_10__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_2__w_20__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_3__w_2__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_3__w_5__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_3__w_10__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_3__w_20__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_4__w_2__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_4__w_5__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_4__w_10__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_4__w_20__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_5__w_2__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_5__w_5__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_5__w_10__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_5__w_20__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_6__w_2__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_6__w_5__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_6__w_10__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_6__w_20__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_7__w_2__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_7__w_5__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_7__w_10__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_7__w_20__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_8__w_2__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_8__w_5__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_8__w_10__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_8__w_20__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_9__w_2__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_9__w_5__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_9__w_10__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_9__w_20__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_10__w_2__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_10__w_5__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_10__w_10__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_10__w_20__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_11__w_2__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_11__w_5__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_11__w_10__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_11__w_20__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_12__w_2__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_12__w_5__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_12__w_10__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_12__w_20__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_13__w_2__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_13__w_5__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_13__w_10__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_13__w_20__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_14__w_2__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_14__w_5__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_14__w_10__widths_(2, 5, 10, 20)',
 'week_value__cwt_coefficients__coeff_14__w_20__widths_(2, 5, 10, 20)',
 'week_value__spkt_welch_density__coeff_2',
 'week_value__spkt_welch_density__coeff_5',
 'week_value__spkt_welch_density__coeff_8',
 'week_value__ar_coefficient__coeff_0__k_10',
 'week_value__ar_coefficient__coeff_1__k_10',
 'week_value__ar_coefficient__coeff_2__k_10',
 'week_value__ar_coefficient__coeff_3__k_10',
 'week_value__ar_coefficient__coeff_4__k_10',
 'week_value__ar_coefficient__coeff_5__k_10',
 'week_value__ar_coefficient__coeff_6__k_10',
 'week_value__ar_coefficient__coeff_7__k_10',
 'week_value__ar_coefficient__coeff_8__k_10',
 'week_value__ar_coefficient__coeff_9__k_10',
 'week_value__ar_coefficient__coeff_10__k_10',
 'week_value__change_quantiles__f_agg_"mean"__isabs_False__qh_0.2__ql_0.0',
 'week_value__change_quantiles__f_agg_"var"__isabs_False__qh_0.2__ql_0.0',
 'week_value__change_quantiles__f_agg_"mean"__isabs_True__qh_0.2__ql_0.0',
 'week_value__change_quantiles__f_agg_"var"__isabs_True__qh_0.2__ql_0.0',
 'week_value__change_quantiles__f_agg_"mean"__isabs_False__qh_0.4__ql_0.0',
 'week_value__change_quantiles__f_agg_"var"__isabs_False__qh_0.4__ql_0.0',
 'week_value__change_quantiles__f_agg_"mean"__isabs_True__qh_0.4__ql_0.0',
 'week_value__change_quantiles__f_agg_"var"__isabs_True__qh_0.4__ql_0.0',
 'week_value__change_quantiles__f_agg_"mean"__isabs_False__qh_0.6__ql_0.0',
 'week_value__change_quantiles__f_agg_"var"__isabs_False__qh_0.6__ql_0.0',
 'week_value__change_quantiles__f_agg_"mean"__isabs_True__qh_0.6__ql_0.0',
 'week_value__change_quantiles__f_agg_"var"__isabs_True__qh_0.6__ql_0.0',
 'week_value__change_quantiles__f_agg_"mean"__isabs_False__qh_0.8__ql_0.0',
 'week_value__change_quantiles__f_agg_"var"__isabs_False__qh_0.8__ql_0.0',
 'week_value__change_quantiles__f_agg_"mean"__isabs_True__qh_0.8__ql_0.0',
 'week_value__change_quantiles__f_agg_"var"__isabs_True__qh_0.8__ql_0.0',
 'week_value__change_quantiles__f_agg_"mean"__isabs_False__qh_1.0__ql_0.0',
 'week_value__change_quantiles__f_agg_"var"__isabs_False__qh_1.0__ql_0.0',
 'week_value__change_quantiles__f_agg_"mean"__isabs_True__qh_1.0__ql_0.0',
 'week_value__change_quantiles__f_agg_"var"__isabs_True__qh_1.0__ql_0.0',
 'week_value__change_quantiles__f_agg_"mean"__isabs_False__qh_0.4__ql_0.2',
 'week_value__change_quantiles__f_agg_"var"__isabs_False__qh_0.4__ql_0.2',
 'week_value__change_quantiles__f_agg_"mean"__isabs_True__qh_0.4__ql_0.2',
 'week_value__change_quantiles__f_agg_"var"__isabs_True__qh_0.4__ql_0.2',
 'week_value__change_quantiles__f_agg_"mean"__isabs_False__qh_0.6__ql_0.2',
 'week_value__change_quantiles__f_agg_"var"__isabs_False__qh_0.6__ql_0.2',
 'week_value__change_quantiles__f_agg_"mean"__isabs_True__qh_0.6__ql_0.2',
 'week_value__change_quantiles__f_agg_"var"__isabs_True__qh_0.6__ql_0.2',
 'week_value__change_quantiles__f_agg_"mean"__isabs_False__qh_0.8__ql_0.2',
 'week_value__change_quantiles__f_agg_"var"__isabs_False__qh_0.8__ql_0.2',
 'week_value__change_quantiles__f_agg_"mean"__isabs_True__qh_0.8__ql_0.2',
 'week_value__change_quantiles__f_agg_"var"__isabs_True__qh_0.8__ql_0.2',
 'week_value__change_quantiles__f_agg_"mean"__isabs_False__qh_1.0__ql_0.2',
 'week_value__change_quantiles__f_agg_"var"__isabs_False__qh_1.0__ql_0.2',
 'week_value__change_quantiles__f_agg_"mean"__isabs_True__qh_1.0__ql_0.2',
 'week_value__change_quantiles__f_agg_"var"__isabs_True__qh_1.0__ql_0.2',
 'week_value__change_quantiles__f_agg_"mean"__isabs_False__qh_0.6__ql_0.4',
 'week_value__change_quantiles__f_agg_"var"__isabs_False__qh_0.6__ql_0.4',
 'week_value__change_quantiles__f_agg_"mean"__isabs_True__qh_0.6__ql_0.4',
 'week_value__change_quantiles__f_agg_"var"__isabs_True__qh_0.6__ql_0.4',
 'week_value__change_quantiles__f_agg_"mean"__isabs_False__qh_0.8__ql_0.4',
 'week_value__change_quantiles__f_agg_"var"__isabs_False__qh_0.8__ql_0.4',
 'week_value__change_quantiles__f_agg_"mean"__isabs_True__qh_0.8__ql_0.4',
 'week_value__change_quantiles__f_agg_"var"__isabs_True__qh_0.8__ql_0.4',
 'week_value__change_quantiles__f_agg_"mean"__isabs_False__qh_1.0__ql_0.4',
 'week_value__change_quantiles__f_agg_"var"__isabs_False__qh_1.0__ql_0.4',
 'week_value__change_quantiles__f_agg_"mean"__isabs_True__qh_1.0__ql_0.4',
 'week_value__change_quantiles__f_agg_"var"__isabs_True__qh_1.0__ql_0.4',
 'week_value__change_quantiles__f_agg_"mean"__isabs_False__qh_0.8__ql_0.6',
 'week_value__change_quantiles__f_agg_"var"__isabs_False__qh_0.8__ql_0.6',
 'week_value__change_quantiles__f_agg_"mean"__isabs_True__qh_0.8__ql_0.6',
 'week_value__change_quantiles__f_agg_"var"__isabs_True__qh_0.8__ql_0.6',
 'week_value__change_quantiles__f_agg_"mean"__isabs_False__qh_1.0__ql_0.6',
 'week_value__change_quantiles__f_agg_"var"__isabs_False__qh_1.0__ql_0.6',
 'week_value__change_quantiles__f_agg_"mean"__isabs_True__qh_1.0__ql_0.6',
 'week_value__change_quantiles__f_agg_"var"__isabs_True__qh_1.0__ql_0.6',
 'week_value__change_quantiles__f_agg_"mean"__isabs_False__qh_1.0__ql_0.8',
 'week_value__change_quantiles__f_agg_"var"__isabs_False__qh_1.0__ql_0.8',
 'week_value__change_quantiles__f_agg_"mean"__isabs_True__qh_1.0__ql_0.8',
 'week_value__change_quantiles__f_agg_"var"__isabs_True__qh_1.0__ql_0.8',



 
 'week_value__fft_aggregated__aggtype_"centroid"',
 'week_value__fft_aggregated__aggtype_"variance"',
 'week_value__fft_aggregated__aggtype_"skew"',
 'week_value__fft_aggregated__aggtype_"kurtosis"',
 'week_value__value_count__value_0',
 'week_value__value_count__value_1',
 'week_value__value_count__value_-1',
 'week_value__range_count__max_1__min_-1',
 'week_value__range_count__max_0__min_1000000000000.0',
 'week_value__range_count__max_1000000000000.0__min_0',
 'week_value__approximate_entropy__m_2__r_0.1',
 'week_value__approximate_entropy__m_2__r_0.3',
 'week_value__approximate_entropy__m_2__r_0.5',
 'week_value__approximate_entropy__m_2__r_0.7',
 'week_value__approximate_entropy__m_2__r_0.9',

    'week_value__number_crossing_m__m_0',
 'week_value__number_crossing_m__m_-1',
 'week_value__number_crossing_m__m_1',
    
    
 'week_value__energy_ratio_by_chunks__num_segments_10__segment_focus_0',
 'week_value__energy_ratio_by_chunks__num_segments_10__segment_focus_1',
 'week_value__energy_ratio_by_chunks__num_segments_10__segment_focus_2',
 'week_value__energy_ratio_by_chunks__num_segments_10__segment_focus_3',
 'week_value__energy_ratio_by_chunks__num_segments_10__segment_focus_4',
 'week_value__energy_ratio_by_chunks__num_segments_10__segment_focus_5',
 'week_value__energy_ratio_by_chunks__num_segments_10__segment_focus_6',
 'week_value__energy_ratio_by_chunks__num_segments_10__segment_focus_7',
 'week_value__energy_ratio_by_chunks__num_segments_10__segment_focus_8',
 'week_value__energy_ratio_by_chunks__num_segments_10__segment_focus_9',
 'week_value__ratio_beyond_r_sigma__r_0.5',
 'week_value__ratio_beyond_r_sigma__r_1',
 'week_value__ratio_beyond_r_sigma__r_1.5',
 'week_value__ratio_beyond_r_sigma__r_2',
 'week_value__ratio_beyond_r_sigma__r_2.5',
 'week_value__ratio_beyond_r_sigma__r_3',
 'week_value__ratio_beyond_r_sigma__r_5',
 'week_value__ratio_beyond_r_sigma__r_6',
 'week_value__ratio_beyond_r_sigma__r_7',
 'week_value__ratio_beyond_r_sigma__r_10',
 'week_value__count_above__t_0',
 'week_value__count_below__t_0',
 'week_value__lempel_ziv_complexity__bins_2',
 'week_value__lempel_ziv_complexity__bins_3',
 'week_value__lempel_ziv_complexity__bins_5',
 'week_value__lempel_ziv_complexity__bins_10',
 'week_value__lempel_ziv_complexity__bins_100',
 'week_value__fourier_entropy__bins_2',
 'week_value__fourier_entropy__bins_3',
 'week_value__fourier_entropy__bins_5',
 'week_value__fourier_entropy__bins_10',
 'week_value__fourier_entropy__bins_100',
 'week_value__permutation_entropy__dimension_3__tau_1',
 'week_value__permutation_entropy__dimension_4__tau_1',
 'week_value__permutation_entropy__dimension_5__tau_1',
 'week_value__permutation_entropy__dimension_6__tau_1',
 'week_value__permutation_entropy__dimension_7__tau_1',

            
            'week_1_standardized', 'week_2_standardized', 'week_3_standardized',
       'week_4_standardized', 'week_5_standardized', 'week_6_standardized',
       'week_7_standardized', 'week_8_standardized', 'week_9_standardized',
       'week_10_standardized', 'week_11_standardized', 'week_12_standardized',
       'week_13_standardized', 'week_14_standardized', 'week_15_standardized',
       'week_16_standardized', 'week_17_standardized', 'week_18_standardized',
       'week_19_standardized', 'cod_canal', 'cod_giro', 'cod_subgiro',
       'desc_region', 'desc_subregion', 'desc_division', 'cod_zona', 'ruta',
       'cod_modulo', 'categoria', 'marca', 'desc_sabor', 'desc_tipoenvase',
       'desc_subfamilia', 'contenido',
       'product_sales_amount_last_3m', 'product_trnx_last_3m',
       'normalized_rotation', 'normalized_freq', 'total_sales_last_3m',
       'total_trnx_last_3m', 'ratio_sales_last_3m', 'ratio_trnx_last_3m',
       'bought_last_year_flag', 'prod_coverage_bucket']

In [339]:
from psycopg2 import connect

In [340]:
train_split_format_path = '/home/ubuntu/workspace_rohan/project/data/processed/model_data/train_split_format.csv'
train_heldout_format_path = '/home/ubuntu/workspace_rohan/project/data/processed/model_data/train_heldout_format.csv'
test_split_format_path = '/home/ubuntu/workspace_rohan/project/data/processed/model_data/test_split_format.csv'
test_heldout_format_path = '/home/ubuntu/workspace_rohan/project/data/processed/model_data/test_heldout_format.csv'

In [341]:
model = XGBClassifier()
model.load_model(model_save_prepath+"xgboost_without_optuna_split_format.json")
test = pd.read_csv(test_split_format_path)
test.fillna(0, inplace=True)

In [342]:
test['prediction probability'] = model.predict_proba(test[features])[:,1:]
prediction_table = test[['codigo_de_cliente', 'fecha_de_visita', 'codigo_de_producto', 'prediction probability', 'bought_in_the_visit']].sort_values(['codigo_de_cliente', 'fecha_de_visita', 'prediction probability'], ascending=False)
prediction_table['rank'] = 1
prediction_table['rank'] = prediction_table.groupby(['codigo_de_cliente', 'fecha_de_visita'])['rank'].cumsum()

In [343]:
HOST = 'localhost'
USER = 'postgres'
PASSWORD = 'Y3DjpNRR'
DATABASE = 'bi_db_aje_co'

In [344]:
prediction_table.head()

,codigo_de_cliente,fecha_de_visita,codigo_de_producto,prediction probability,bought_in_the_visit,rank
4548,94176284,2020-12-04,500040,0.915200,0.0,1
3114,94176284,2020-12-04,501177,0.065982,0.0,2
2970,94176284,2020-12-04,510052,0.045180,0.0,3
7819,94176284,2020-12-04,508720,0.024756,0.0,4
5469,94176284,2020-12-04,500593,0.008908,0.0,5

In [345]:
prediction_table['fecha_de_visita'] = prediction_table.fecha_de_visita.astype(str)
prediction_table['codigo_de_cliente'] = prediction_table.codigo_de_cliente.astype(str)
prediction_table['codigo_de_producto'] = prediction_table.codigo_de_producto.astype(str)

In [346]:
prediction_table['codigo_de_cliente_new'] = '00' + prediction_table.codigo_de_cliente.astype(str)

In [347]:
prediction_table.head(2)

,codigo_de_cliente,fecha_de_visita,codigo_de_producto,prediction probability,bought_in_the_visit,rank,codigo_de_cliente_new
4548,94176284,2020-12-04,500040,0.915200,0.0,1,0094176284
3114,94176284,2020-12-04,501177,0.065982,0.0,2,0094176284

In [348]:
clients = list(prediction_table.codigo_de_cliente.unique())
clients = ['00'+str(x) for x in clients]
client_list = '(\'' + '\', \''.join(clients) + '\')'
query = '''
select
    fecha_de_visita,
    codigo_de_cliente,
    recomm_qt
from public.regular_recomm_qty_dtl
where codigo_de_cliente in ''' + client_list + ''';
'''

In [350]:
conn = connect(
        host=HOST,
        database=DATABASE,
        user=USER,
        password=PASSWORD
    )

In [351]:
df = pd.read_sql(query, conn, coerce_float=False)
df.recomm_qt.fillna(0, inplace=True)
df['recomm_qt'] = df['recomm_qt'].astype(int)
df['fecha_de_visita'] = df.fecha_de_visita.astype(str)
df['codigo_de_cliente'] = df.codigo_de_cliente.astype(str)

In [352]:
df.head()

  fecha_de_visita codigo_de_cliente  recomm_qt
0      2020-09-10        0094100001          0
1      2020-10-02        0094100001          2
2      2020-10-10        0094100001          2
3      2020-10-23        0094100001          2
4      2020-10-24        0094100001          2

In [353]:
prediction_table = pd.merge(prediction_table, df, how='left', left_on=['codigo_de_cliente_new', 'fecha_de_visita'], right_on=['codigo_de_cliente', 'fecha_de_visita'])

In [355]:
prediction_table.rename({
    'codigo_de_cliente_x' : 'codigo_de_cliente'
}, inplace=True, axis=1)

prediction_table.drop(['codigo_de_cliente_y'], inplace=True, axis=1)

In [357]:
prediction_table = prediction_table[prediction_table['rank'] <= prediction_table['recomm_qt']]

In [364]:
prediction_table.shape

(4282, 8)

In [360]:
prediction_table.head(5)

,codigo_de_cliente,fecha_de_visita,codigo_de_producto,prediction probability,bought_in_the_visit,rank,codigo_de_cliente_new,recomm_qt
0,94176284,2020-12-04,500040,0.915200,0.0,1,0094176284,2
1,94176284,2020-12-04,501177,0.065982,0.0,2,0094176284,2
5,94176217,2020-12-05,500290,0.228075,1.0,1,0094176217,2
6,94176217,2020-12-05,500570,0.078977,1.0,2,0094176217,2
9,94176205,2020-12-03,508524,0.138301,0.0,1,0094176205,2

In [361]:
df_sales = pd.read_sql("select fecha_de_visita, codigo_de_cliente, codigo_de_producto, venta_neta_dolar "
                           "from public.sales where venta_neta_dolar > 0.00", conn, coerce_float=False)

In [362]:
df_sales.fecha_de_visita = df_sales.fecha_de_visita.astype(str)
df_sales.codigo_de_cliente = df_sales.codigo_de_cliente.astype(str)
df_sales.codigo_de_producto = df_sales.codigo_de_producto.astype(str)

In [363]:
df_sales.head()

  fecha_de_visita codigo_de_cliente codigo_de_producto venta_neta_dolar
0      2021-01-12          00945097             501323        111600.00
1      2021-03-11         009460171             509603          8550.00
2      2020-07-15        0094173605             509603          8037.00
3      2020-10-24        0094114343             509641          3450.00
4      2020-11-23          00941107             515512         14400.00

In [365]:
prediction_table = pd.merge(prediction_table, df_sales, how='left', left_on=['codigo_de_cliente_new', 'fecha_de_visita', 'codigo_de_producto'], right_on=['codigo_de_cliente', 'fecha_de_visita', 'codigo_de_producto'])

In [371]:
prediction_table.rename({
    'codigo_de_cliente_x' : 'codigo_de_cliente'
}, inplace=True, axis=1)

In [373]:
prediction_table['venta_neta_dolar'] = prediction_table['venta_neta_dolar'].fillna(0.00)

In [375]:
prediction_table['executed_flag'] = prediction_table['venta_neta_dolar'].apply(lambda x: 1 if x > 0.00 else 0)

In [378]:
client_level_precision = prediction_table.groupby(['fecha_de_visita', 'codigo_de_cliente']).agg({'codigo_de_producto': 'count', 'executed_flag': 'sum'}).reset_index()

In [379]:
client_level_precision

     fecha_de_visita codigo_de_cliente  codigo_de_producto  executed_flag
0         2020-12-01          94100005                   2              0
1         2020-12-01          94101752                   1              1
2         2020-12-01          94102195                   2              0
3         2020-12-01          94103299                   3              1
4         2020-12-01          94103960                   2              0
...              ...               ...                 ...            ...
1770      2020-12-06          94172473                   3              1
1771      2020-12-06          94172487                   1              0
1772      2020-12-06          94173070                   1              0
1773      2020-12-06          94173237                   2              1
1774      2020-12-06          94175361                   1              1

[1775 rows x 4 columns]

In [380]:
client_level_precision['precision'] = client_level_precision['executed_flag']/client_level_precision['codigo_de_producto']

In [381]:
client_level_precision

,fecha_de_visita,codigo_de_cliente,codigo_de_producto,executed_flag,precision
0,2020-12-01,94100005,2,0,0.000000
1,2020-12-01,94101752,1,1,1.000000
2,2020-12-01,94102195,2,0,0.000000
3,2020-12-01,94103299,3,1,0.333333
4,2020-12-01,94103960,2,0,0.000000
...,...,...,...,...,...
1770,2020-12-06,94172473,3,1,0.333333
1771,2020-12-06,94172487,1,0,0.000000
1772,2020-12-06,94173070,1,0,0.000000
1773,2020-12-06,94173237,2,1,0.500000
1774,2020-12-06,94175361,1,1,1.000000

In [382]:
precision = client_level_precision['precision'].mean()

In [383]:
precision

0.3400027437351381

In [376]:
prediction_table.head()

,codigo_de_cliente,fecha_de_visita,codigo_de_producto,prediction probability,bought_in_the_visit,rank,codigo_de_cliente_new,recomm_qt,codigo_de_cliente_y,venta_neta_dolar,executed_flag
0,94176284,2020-12-04,500040,0.915200,0.0,1,0094176284,2,NaN,0,0
1,94176284,2020-12-04,501177,0.065982,0.0,2,0094176284,2,NaN,0,0
2,94176217,2020-12-05,500290,0.228075,1.0,1,0094176217,2,0094176217,21100.00,1
3,94176217,2020-12-05,500570,0.078977,1.0,2,0094176217,2,0094176217,21100.00,1
4,94176205,2020-12-03,508524,0.138301,0.0,1,0094176205,2,NaN,0,0