In [10]:
import pandas as pd

In [22]:
CO_timeseries_path = '/home/ubuntu/workspace_rohan/project/data/raw/CO_timeseries.csv'
CO_timeseries_unpivot_path = '/home/ubuntu/workspace_rohan/project/data/processed/CO_timeseries_unpivot.csv'

In [12]:
data_tseries = pd.read_csv(CO_timeseries_path)
data_tseries = data_tseries.drop(["Unnamed: 0", "week_20"],axis=1)

In [14]:
data_tseries.shape

(3780431, 22)

In [15]:
data_tseries.reset_index(inplace=True)

In [16]:
data_tseries = pd.melt(data_tseries, id_vars=['index', 'fecha_de_visita', 'codigo_de_cliente', 'codigo_de_producto'], value_vars=['week_1',
                    'week_2', 'week_3', 'week_4', 'week_5', 'week_6', 'week_7', 'week_8', 'week_9', 'week_10', 'week_11'
                        , 'week_12', 'week_13', 'week_14', 'week_15', 'week_16', 'week_17', 'week_18', 'week_19'],
                      var_name='week_number', value_name='week_value')

In [17]:
data_tseries.shape

(71828189, 6)

In [19]:
data_tseries['week_int'] = data_tseries.week_number.str.slice(5).astype(int)

In [20]:
data_tseries.sort_values(['index', 'week_int'], inplace=True)

In [23]:
data_tseries.to_csv(CO_timeseries_unpivot_path, index=False)

In [24]:
data_tseries.head(25)

,index,fecha_de_visita,codigo_de_cliente,codigo_de_producto,week_number,week_value,week_int
0,0,2020-12-04,94100001,508588,week_1,0,1
3780431,0,2020-12-04,94100001,508588,week_2,0,2
7560862,0,2020-12-04,94100001,508588,week_3,0,3
11341293,0,2020-12-04,94100001,508588,week_4,0,4
15121724,0,2020-12-04,94100001,508588,week_5,0,5
18902155,0,2020-12-04,94100001,508588,week_6,0,6
22682586,0,2020-12-04,94100001,508588,week_7,0,7
26463017,0,2020-12-04,94100001,508588,week_8,0,8
30243448,0,2020-12-04,94100001,508588,week_9,0,9
34023879,0,2020-12-04,94100001,508588,week_10,0,10
37804310,0,2020-12-04,94100001,508588,week_11,0,11
41584741,0,2020-12-04,94100001,508588,week_12,0,12
45365172,0,2020-12-04,94100001,508588,week_13,0,13
49145603,0,2020-12-04,94100001,508588,week_14,0,14
52926034,0,2020-12-04,94100001,508588,week_15,0,15
56706465,0,2020-12-04,94100001,508588,week_16,0,16
60486896,0,2020-12-04,94100001,508588,week_17,0,17
64267327,0,2020-12-04,94100001,508588,week_18,0,18
68047758,0,2020-12-04,94100001,508588,week_19,0,19
1,1,2020-12-04,94100001,598913,week_1,0,1
3780432,1,2020-12-04,94100001,598913,week_2,0,2
7560863,1,2020-12-04,94100001,598913,week_3,0,3
11341294,1,2020-12-04,94100001,598913,week_4,0,4
15121725,1,2020-12-04,94100001,598913,week_5,0,5
18902156,1,2020-12-04,94100001,598913,week_6,0,6